[Desktop Entry]
Name=Microsoft Edge
Comment=Browse the Web
Exec=/home/shayani/.nix-profile/bin/microsoft-edge %U
Icon=microsoft-edge
Terminal=false
Type=Application
Categories=Network;WebBrowser;

